<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - View users</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/index.css">
    <base th:href="@{/}">


</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg black-bg">
        <img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
        <!-- add above logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link white-font" href="/registration">Register</a>
                <a class="nav-item nav-link white-font" href="/login/logOut">Log out</a>
                <a class="nav-item nav-link white-font" href="/users/viewAllUsers">Users</a>
                <a class="nav-item nav-link white-font" href="/realestate/adminPage">Real Estates</a>
                <a class="nav-item nav-link white-font" href="#">Reports</a>

            </div>
        </div>
    </nav>


  <div id="pocetna" class="tables">

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Type</th>
          <th scope="col">Location</th>
          <th scope="col">Price</th>
          <th scope="col">Rent/Buy</th>
          <th scope="col">Surface</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr th:each="estate, iterStat : ${realEstates}">
          <form method="post" action="delete">

            <th scope="row" th:text="${iterStat.count}"></th>
            <td th:text="${estate.estateType}"></td>
            <td th:text="${estate.location}"></td>
            <td th:text="${estate.price}"></td>
            <td th:text="${estate.rentOrBuy}"></td>
            <td th:text="${estate.surface}"></td>

            <td><a th:href="@{edit(id=${estate.id})}" class="link bolder">Edit</a></td>
            <td><button class="btn">Delete</button></td>
            <input type="hidden" th:value="${estate.id}" name="id">

          </form>
        </tr>
      
      </tbody>
    </table>
    <div class="add">
        <a class="btn" href="add">Add</a>
    </div>
  </div>

 

    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>


</body>

</html>