<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - Pregled korisnika</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/index.css">

  <link rel="stylesheet" href="js/admin.js">

</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg black-bg">
        <img class="img" src="images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
        <!-- add above logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link white-font" href="#">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link white-font" href="#">Register</a>
                <a class="nav-item nav-link white-font" href="#">Log out</a>
                <a class="nav-item nav-link white-font" href="#">Korisnici</a>
                <a class="nav-item nav-link white-font" href="#">Nekretnine</a>
                <a class="nav-item nav-link white-font" href="#">Izvestaji</a>

            </div>
        </div>
    </nav>


  <div id="pocetna" class="tables">

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Ime</th>
          <th scope="col">Prezime</th>
          <th scope="col">Kontakt Telefon</th>
          <th scope="col">Adresa</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <form method="post" action="">

            <th scope="row">1</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>twitter</td>

            <td><a href="" class="link bolder">Edit</a></td>
            <td><button class="btn ">Delete</button></td>
            <input type="hidden" value="" name="id">

          </form>
        </tr>
        <tr>
          <form method="post" action="">

            <th scope="row">2</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>twitter</td>

            <td><a href="" class="link bolder">Edit</a></td>
            <td><button class="btn ">Delete</button></td>
            <input type="hidden" value="" name="id">

          </form>
        </tr>
        <tr>
          <form method="post" action="">

            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>twitter</td>

            <td><a href="" class="link bolder">Edit</a></td>
            <td><button class="btn">Delete</button></td>
            <input type="hidden" value="" name="id">
          </form>
        </tr>
        <tr>
          <form method="post" action="">

            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>twitter</td>

            <td><a href="" class="link bolder">Edit</a></td>
            <td><button class="btn">Delete</button></td>
            <input type="hidden" value="" name="id">

          </form>
        </tr>
      </tbody>
    </table>
    <div class="add">
      <button class="btn">
        <a class="" href="destinacija/add">Dodaj</a>
      </button>
    </div>
  </div>

 

    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>


</body>

</html>