<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Agencija za Nekretnine</title>
</head>

<body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg black-bg">
        <img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
        <!-- add above logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link white-font" th:if="${isLoggedIn == false}" href="registration">Register</a>
                <a class="nav-item nav-link white-font" th:if="${isLoggedIn == false}" href="/login">Log in</a>
                <a class="nav-item nav-link white-font" th:if="${isLoggedIn == true}" href="/login/logOut">Log out</a>
                <a class="nav-item nav-link white-font" th:if="${admin != null}" href="/realestate/adminPage">Admin</a>
                <a class="nav-item nav-link white-font" th:if="${agent != null}" href="">Calendar</a>
                
                <a class="nav-item nav-link white-font" th:if="${isLoggedIn == true}" href="#"><img class="small" src="/images/cart.png"></img></a>

            </div>
        </div>
    </nav>


    <!--Filters-->

    <div class="container">
        <div class="row full-height">
            <div class="col-md-3">
                <!--Sidebar - filters -->
                <div class="sidebar">
                    <h3 class="bolder text-orange">Filter Options</h3>
                    <form action="" method="get"> <!--Add action and method here -->
                        <p><span class="bolder">Location:</span></p>

                        <div class="form-inline" >
                            <input class="shadow form-control mr-sm-2" type="search">
                        </div>

                        <p><span class="bolder">Surface:</span></p>
                        <p>Min.</p>
                        <div class="form-inline">

                            <input class=" form-control mr-sm-2" min="0" type="number" id="cenaOd" name="surcafeFrom">
                        </div>
                        <p>Max.</p>
                        <div class="form-inline">

                            <input class="form-control mr-sm-2" type="number" id="cenaDo" name="surfaceTo">
                        </div>

                        <p><span class="bolder">Price:</span></p>

                        <p>Min.</p>
                        <div class="form-inline">

                            <input class="form-control mr-sm-2" min="0" type="number" id="cenaOd" name="cenaOd">
                        </div>
                        <p>Max.</p>
                        <div class="form-inline">

                            <input class="form-control mr-sm-2" type="number" id="cenaDo" name="cenaDo">
                        </div>

                        <p><span class="bolder">Rent/Buy:</span></p>

                        <ul>
                            <li><label><input type="checkbox" id="prodajaCheckbox" value="PRODAJA"> Rent</label></li>
                            <li><label><input type="checkbox" id="izdavanjeCheckbox" value="IZDAVANJE">
                                    Buy</label></li>
                        </ul>
                        <p><span class="bolder">Type:</span></p>

                        <ul>
                            <li><label><input type="checkbox" class="checkbox-color" value="HOUSE"> House</label></li>
                            <li><label><input type="checkbox" value="APARTMENT"> Apartment</label></li>
                            <li><label><input type="checkbox" value="LAND"> Land</label></li>
                            <li><label><input type="checkbox" value="OFFICE"> Office</label></li>

                        </ul>
                        <!--Search button for filtering-->
                        <div class="form-inline">
                            <button class="my-2 my-sm-0 btn" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--For selecting and deselecting prodaja/izdavanje, when one is selected deselect other-->
            <script>
                // Get references to the checkboxes
                const prodajaCheckbox = document.getElementById('prodajaCheckbox');
                const izdavanjeCheckbox = document.getElementById('izdavanjeCheckbox');

                // Add event listeners to checkboxes
                prodajaCheckbox.addEventListener('change', function () {
                    // If Prodaja checkbox is checked, uncheck Izdavanje checkbox
                    if (this.checked) {
                        izdavanjeCheckbox.checked = false;
                    }
                });

                izdavanjeCheckbox.addEventListener('change', function () {
                    // If Izdavanje checkbox is checked, uncheck Prodaja checkbox
                    if (this.checked) {
                        prodajaCheckbox.checked = false;
                    }
                });
            </script>



            <!--Main content - nekretnine 0 -->
            <div class="col-md-9">
                <div class="card" th:each="estate : ${realEstate}">
                    <div class="card-body d-flex flex-column" >
                        <div class="row" >
                            <div class="col-md-4" >

                                <!--Images here-->
                                <div class="overlay-container">
                                    <a th:href="@{'/realestate/viewOne?id=' + ${estate.id}}">
                                        <img class="card-img-top smaller" th:src="@{/images/} + ${estate.picture}"
                                            alt="Card image cap">
                                    </a>
                                    <a href="" class="">
                                        <!--Like/Dislike heart here-->
                                        <img class="card-img-top small overlay" src="/images/heart.png" alt="Card image cap">
                                       
                                    </a>
                                    <div class="like-dislike">
  											<a><img class="card-img-top small low_opacity" src="images/heart_filled.png"
                                            alt="Card image cap"></a>
  											<a><img class="card-img-top small low_opacity" src="images/heart_broken.png"
                                            alt="Card image cap"></a>
									</div>
                                </div>
                            </div>
                            
                           

                            <!--Information about nekretnina-->
                            <div class="col-md-8">
                                <div class="text-container">
                                    <a class="link" th:href="@{'/realestate/viewOne?id=' + ${estate.id}}">
                                        <h5 class="card-title bolder text-orange" th:text="${estate.location}">Novi Sad, Novo Naselje</h5>
                                    </a>
                                    
                                    <p class="card-text"><span class="bolder">Price: </span><span th:text="${estate.price}"></span></p>
                                    <p class="card-text"><span class="bolder">Surface: </span><span th:text="${estate.surface}"></span></p>
                                    <p class="card-text"><span class="bolder">Rent/Buy: </span><span th:text="${estate.rentOrBuy}"></span></p>
                                    <p class="card-text"><span class="bolder">Type: </span><span th:text="${estate.estateType}"></span></p>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

               
                
                <script>
                $(document).ready(function() {
                	  $(".like-btn").click(function() {
                	    // Send a request to the server to increment the like count
                	    updateCount('like');
                	  });

                	  $(".dislike-btn").click(function() {
                	    // Send a request to the server to increment the dislike count
                	    updateCount('dislike');
                	  });

                	  function updateCount(action) {
                	    // Send an AJAX request to the server to update the count
                	    $.ajax({
                	      type: "POST",
                	      url: "update_count.php", // URL to your server-side script
                	      data: { action: action }, // Send the action (like or dislike) to the server
                	      success: function(response) {
                	        // Update the count on the front-end based on the server response
                	        $(".like-count").text(response.likes);
                	        $(".dislike-count").text(response.dislikes);
                	      },
                	      error: function(xhr, status, error) {
                	        // Handle errors
                	        console.error(error);
                	      }
                	    });
                	  }
                	});
</script>
               
                  
            </div>
        </div>
    </div>



    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>

          



</body>

</html>