<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <base th:href="@{/}">
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg black-bg">
        <img class="img" src="images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
        <!-- add above logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link white-font" href="/registration">Register</a>
                <a class="nav-item nav-link white-font" href="/login">Log in</a>

            </div>
        </div>
    </nav>

    <div class="form">
        <form method="post" action="/login/logIn">
            <div class="form-group">
                <label for="grad">Username:</label>
                <input type="text" th:value="${username}" name="username" class="form-control" aria-describedby="emailHelp">
            <small class="wrong" th:text="${errorUsername}">ERROR</small>
            </div>
            <div class="form-group">
                <label for="drzava">Password:</label>
                <input type="text" th:value="${password}" name="password" class="form-control"/>
                <small class="wrong" th:text="${errorPassword}">ERROR</small>
            </div>



            <button type="submit" class="btn btn-polje">Log in</button>
            <div>
                <small> <a class="link" href="/registration">Don`t have account? Register</a></small>
            </div>
        </form>
    </div>

    <br /><br /><br /><br />






    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>

</body>

</html>