<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
    <base th:href="@{/}">

</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg black-bg">
        <img class="img" src="images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
        <!-- add above logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
                <a class="nav-item nav-link white-font" href="/registration">Register</a>
                <a class="nav-item nav-link white-font" href="/login">Log in</a>

            </div>
        </div>
    </nav>

 <div th:if="${agency != null}" class="col-md-12">
                <!--Information about Agency-->
                <div class="card">
                    <a href="agency/change"  class="link_black"><h3 class="card-header bolder text-orange link_black" th:text="${agency.name}">  </h3></a>
                    <div th:each="agent: ${agents}"><br>
                     <div class="text-container">
                     				<form method="post" action="agency/deleteAgent">
                     				
                     				<h5 class="bolder" th:text="${agent.name + ' ' + agent.surname}"></h5>
                     				<hr>
                                    <p class="card-text"><span class="bolder">Username: </span><span th:text="${agent.username}"></span></p>
                                    <p class="card-text"><span class="bolder">Password: </span><span th:text="${agent.password}"></span></p>
                                    <p class="card-text"><span class="bolder">Phone Number: </span><span th:text="${agent.phoneNumber}"></span></p>
                                    <p class="card-text"><span class="bolder">Email: </span><span th:text="${agent.email}"></span></p>
                                    <p class="card-text"><span class="bolder">Address: </span><span th:text="${agent.address}"></span></p>
                                    <input  name="agentId" class="hidden" th:value="${agent.id}"></input>
                                    <button class="btn">Delete</button>
                                    </form>
                       </div>
                    </div>
                    <br><br>
                    <a href="agency/addAgent" class="btn">Add Agent</a>
                  
                </div>
</div>
<div th:if="${agency == null}" class="col-md-12">
        <div class="card ">
                    <h3 class="card-header bolder text-orange"> Set Agency details to start </h3>
                     <form method="post" action="agency/create">
                	<div class="card">
                    <div class="form-group">
            			<label class="bolder" for="name">Agency Name:</label>
            			<input type="text" value="" name="name" class="form-control"  >
            			
        			</div>
                    
                    <br><br>
                    <button class="btn">Create Agency</button>
                 
                </div>
               
               </form>
               </div>
</div>     
            
    
    <br /><br /><br /><br />






    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>

</body>

</html>