<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <base th:href="@{/}">
</head>
<body>
     <!--navbar-->
     <nav class="navbar navbar-expand-lg black-bg">
      <img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
      <!-- add above logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
              <a class="nav-item nav-link white-font" href="#">Register</a>
              <a class="nav-item nav-link white-font" href="#">Log in</a>
              <a class="nav-item nav-link white-font" href="#"><img class="small" src="/images/cart.png"></img></a>

          </div>
      </div>
  </nav>
    
   <div class="form">
    <form method="post" action="realestate/edit">
    
    	<div class="form-group">
    		<label class="bolder" for="type">Tip:</label>
    			<select name="type" id="type" class="form-control">
        <option value="House" th:selected="${realEstate.estateType.toString == 'House'}">House</option>
        <option value="Apartment" th:selected="${realEstate.estateType.toString == 'Apartment'}">Apartment</option>
        <option value="Land" th:selected="${realEstate.estateType.toString == 'Land'}">Land</option>
        <option value="Office" th:selected="${realEstate.estateType.toString == 'Office'}">Office</option>
    		</select>    
		</div>
       
        <div class="form-group">
          <label class="bolder"  for="location">Lokacija:</label>
          <input type="text" th:value="${realEstate.location}" name="location" class="form-control"  >
        </div>
        <div class="form-group">
            <label class="bolder" for="price">Cena:</label>
            <input type="text" th:value="${realEstate.price}" name="price" class="form-control"  aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label class="bolder" for="rentOrBuy">Najam/Prodaja:</label>
            <input type="text" th:value="${realEstate.rentOrBuy}" name="rentOrBuy" class="form-control"  >
        </div>
          <div class="form-group">
            <label class="bolder" for="rentOrBuy">Povrsina:</label>
            <input type="number" th:value="${realEstate.surface}" name="surface" class="form-control"  >
        </div>
         <div class="form-group hidden">
            <label  for="id">Id:</label>
            <input type="text" th:value="${realEstate.id}" name="id" class="form-control"  >
        </div>
        <button type="submit" class="btn">Sacuvaj</button>
       
    </form>
   </div>

   <br/><br/><br/><br/>





    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>

</body>

</html>