<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <base th:href="@{/}">
</head>
<body>
     <!--navbar-->
     <nav class="navbar navbar-expand-lg black-bg">
      <img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
      <!-- add above logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
              <a class="nav-item nav-link white-font" href="#">Register</a>
              <a class="nav-item nav-link white-font" href="#">Log in</a>
              <a class="nav-item nav-link white-font" href="#"><img class="small" src="/images/cart.png"></img></a>

          </div>
      </div>
  </nav>
    
   <div class="form">
    <form method="post" action="realestate/add" enctype="multipart/form-data">
        <div class="form-group">
    		<label class="bolder" for="type">Type:</label>
            <select name="type" id="type" class="form-control" aria-describedby="emailHelp">
                <option value="">Select a type</option>
                <option th:each="oneType : ${allTypes}" th:value="${oneType}" th:text="${oneType}"></option>
            </select>

        </div>
        <div class="form-group">
          <label class="bolder"  for="location">Location:</label>
          <input type="text" value="" name="location" class="form-control"  >
        </div>
        <div class="form-group">
            <label class="bolder" for="price">Price:</label>
            <input type="number" value="" name="price" class="form-control"  aria-describedby="emailHelp" >
          </div>
          <div class="form-group">
            <label class="bolder" for="rentOrBuy">Rent/Buy:</label>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rentOrBuy" id="rentOption" value="Rent">
                  <label class="form-check-label" for="rentOption">Rent</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="rentOrBuy" id="buyOption" value="Buy">
                  <label class="form-check-label" for="buyOption">Buy</label>
              </div>
        </div>
         <div class="form-group">
            <label class="bolder" for="picture">Photo:</label>
             <input type="file" name="picture" class="form-control">
        </div>
        <div class="form-group">
            <label class="bolder" for="surface">Surface:</label>
            <input type="number" value="" name="surface" class="form-control"  >
        </div>

        
        
        
        <button type="submit" class="btn">Save</button>
       
    </form>
   </div>

   <br/><br/><br/><br/>





    <!--Footer -->
    <div>
        <nav class="navbar ">
            <a class="navbar-brand" href="#">
                <form class="form-inline red">
                    <p>some information about agency such as mail phone number..etc</p>
                </form>
            </a>
        </nav>
    </div>

</body>

</html>