<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tabs.css">
    <link rel="stylesheet" href="/css/index.css">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <base th:href="@{/}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Requests</title>
</head>
<body>

<nav class="navbar navbar-expand-lg black-bg">
    <img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
    <!-- add above logo -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
            <a class="nav-item nav-link white-font" th:if="${isLoggedIn == false}" href="registration">Register</a>
            <a class="nav-item nav-link white-font" th:if="${isLoggedIn == false}" href="/login">Log in</a>
            <a class="nav-item nav-link white-font" th:if="${isLoggedIn == true}" href="/login/logOut">Log out</a>
            <a class="nav-item nav-link white-font" th:if="${admin != null}" href="/realestate/adminPage">Admin</a>
            <a class="nav-item nav-link white-font" th:if="${owner != null}" href="/agency">My Agency</a>
            <a class="nav-item nav-link white-font" th:if="${agent != null or owner != null}" href="notifications/calendar">Calendar</a>
            <a class="nav-item nav-link white-font" th:if="${agent != null}" href="/realestate/add">Add an
                estate</a>

            <a class="nav-item nav-link white-font" th:if="${isLoggedIn == true}" href="#"><img class="small"
                                                                                                src="/images/cart.png"></img></a>

            <a class="nav-item nav-link white-font" th:if="${agent != null or owner != null}" href="/notifications/unread" style="position: absolute; margin-left: 78%;"><img class="small"
                                                                                                                                                                              th:src="@{'/images/bell' + ${newMessageCount} + '.png'}"></img></a>

            <a class="nav-item nav-link white-font" style="position: absolute; margin-left: 83%;"
               th:if="${isLoggedIn == true}" href="realestate/profile"><img class="small"
                                                                            src="/images/user.png"></a>

        </div>
    </div>
</nav>

<br/>

<div class="tab">
    <button id="buyingTab" class="tablinks">Buying Requests</button>
    <button id="rentingTab" class="tablinks">Renting Requests</button>
</div>

<div id="buying" class="tabcontent">
    <h3>Buying Requests</h3>
    <div th:each="request : ${buyingRequests}">
        <h3>Buy Request</h3>
        <p>User: <span th:text="${request.user.username}"></span></p>
        <p>Estate: <span th:text="${request.estate.estateType}"></span></p>
        <p>Price: <span th:text="${request.estate.price}"></span></p>
        <form action="realestate/acceptBuyingRequest" method="post">
            <input type="hidden" name="requestId" th:value="${request.id}" />
            <button type="submit">Accept</button>
        </form>
        <form action="realestate/declineBuyingRequest" method="post">
            <input type="hidden" name="requestId" th:value="${request.id}" />
            <button type="submit">Decline</button>
        </form>
    </div>
</div>

<div id="renting" class="tabcontent">
    <h3>Renting Requests</h3>
    <div th:each="request : ${rentingRequests}">
        <h3>Rent Request</h3>
        <p>User: <span th:text="${request.user.username}"></span></p>
        <p>Estate: <span th:text="${request.estate.estateType}"></span></p>
        <p>Price: <span th:text="${request.estate.price}"></span></p>
        <p>Rent Duration: <span th:text="${request.startDate + ' to ' + request.endDate}"></span></p>
        <form action="realestate/acceptRentingRequest" method="post">
            <input type="hidden" name="requestId" th:value="${request.id}" />
            <button type="submit">Accept</button>
        </form>
        <form action="realestate/declineRentingRequest" method="post">
            <input type="hidden" name="requestId" th:value="${request.id}" />
            <button type="submit">Decline</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#buyingTab").click(function() {
            openTab('buying');
        });

        $("#rentingTab").click(function() {
            openTab('renting');
        });
    });

    function openTab(tabName) {
        $(".tabcontent").hide();
        $(".tablinks").removeClass("active");
        $("#" + tabName).show();
        $("#" + tabName + "Tab").addClass("active");
    }
</script>

</body>
</html>