<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Schedule a Tour</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/calendar.css">
	<base th:href="@{/}">
</head>

<body>
	<!--navbar-->
	<nav class="navbar navbar-expand-lg black-bg">
		<img class="img" src="/images/keyToTheCastleLogoOrangeWhiteWithTitle.png">
		<!-- add above logo -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link white-font" href="/realestate">Home<span class="sr-only"></span></a>
				<a class="nav-item nav-link white-font" href="/login/logOut">Log out<span class="sr-only"></span></a>
				<a class="nav-item nav-link white-font" href="#"><img class="small" src="/images/cart.png"></img></a>

			</div>
		</div>
	</nav>
	<br>
	<div class="contianer">

		<div class="calendar" id="calendar">
			<div class="calendar-header">
				<span class="month-picker" id="month-picker"> May </span>
				<div class="year-picker" id="year-picker">
					<span class="year-change" id="pre-year">
						<pre style="margin-top: 12px; font-size: 20px;"><</pre>
					</span>
					<span id="year">2020 </span>
					<span class="year-change" id="next-year">
						<pre style="margin-top: 12px; font-size: 20px;">></pre>
					</span>
				</div>
			</div>


			<div class="calendar-body">
				<div class="calendar-week-days">
					<div>Mon</div>
					<div>Tue</div>
					<div>Wed</div>
					<div>Thu</div>
					<div>Fri</div>
					<div>Sat</div>
					<div>Sun</div>
				</div>
				<div class="calendar-days">
				</div>
			</div>
			<div class="calendar-footer">
			</div>

			<div class="month-list"></div>
		</div>
		<!-- Form to choose available time -->

		<div id="panelContainer">
			<div id="confirmationPanel" >
				<h2 id="final"></h2>
				<br><br>
				<p>Are you sure you want to submit?</p>
				<button id="cancel">Cancel</button>
				<button id="confirm">OK</button>
			</div>
		</div>

		<form id="timeForm" style="display: block;" method="post" action="/scheduledTour/ScheduleTour">
			<h3 style="margin-left: 25%;">Choose Available Time</h3>

			<table id="availableTimes" class="table" style="width: 40%; margin-left: 30%; text-align: center;">
				<tbody>
				</tbody>
			</table>
			<input type="hidden" id="selectedStartTimeInput" name="startTime">
			<input type="hidden" id="selectedEndTimeInput" name="endTime">
			<input type="hidden" id="" th:value="${estateId}" name="realEstateId">
			<button id="confirmButton" class="ok btn" type="submit">Submit</button>
			<div id="validation" style="color: red; margin-left: 25%;"></div>
		</form>
	</div>
	</div>


	<br><br><br>

	<!--Footer -->
	<div>
		<nav class="navbar ">
			<a class="navbar-brand" href="#">
				<form class="form-inline red">
					<p>some information about agency such as mail phone number..etc</p>
				</form>
			</a>
		</nav>
	</div>

</body>

<script th:inline="javascript">
	/*<![CDATA[*/

	var scheduledTours = /*[[${scheduledTours}]]*/ 'default';

	/*]]>*/
</script>

<script>
	const isLeapYear = (year) => {
		return (
			(year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) ||
			(year % 100 === 0 && year % 400 === 0)
		);
	};
	const getFebDays = (year) => {
		return isLeapYear(year) ? 29 : 28;
	};
	let calendar = document.querySelector('.calendar');
	const month_names = [
		'January',
		'February',
		'March',
		'April',
		'May',
		'June',
		'July',
		'August',
		'September',
		'October',
		'November',
		'December',
	];


	let month_picker = document.querySelector('#month-picker');

	// MONTH PANEL SHOW - HIDE	
	let isMonthListOpen = false;
	month_picker.onclick = () => {
		if (isMonthListOpen) {
			month_list.classList.remove('show');
			month_list.classList.add('hide');

		} else {
			month_list.classList.remove('hideonce');
			month_list.classList.remove('hide');
			month_list.classList.add('show');
		}
		isMonthListOpen = !isMonthListOpen;
	};


	const generateCalendar = (month, year) => {
		let calendar_days = document.querySelector('.calendar-days');
		calendar_days.innerHTML = '';
		let calendar_header_year = document.querySelector('#year');
		let days_of_month = [
			31,
			getFebDays(year),
			31,
			30,
			31,
			30,
			31,
			31,
			30,
			31,
			30,
			31,
		];

		let currentDate = new Date();
		month_picker.innerHTML = month_names[month];
		calendar_header_year.innerHTML = year;
		let first_day = new Date(year, month);


		// GENERATE CALENDAR DAYS	
		for (let i = 1; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
			let day = document.createElement('div');

			if (i >= first_day.getDay()) {
				day.innerHTML = i - first_day.getDay() + 1;
				let dayDate = new Date(year, month, i - first_day.getDay() + 1);

				// SEPARATE PAST DAYS AND FUTURE DAYS
				if (dayDate < currentDate) {
					day.classList.add('past-day');
					day.setAttribute('disabled', true);
				} else {
					day.classList.add('future-day');
					day.addEventListener('click', showTime);
				}
				// MARK THE CURRENT DATE	
				if (i - first_day.getDay() + 1 === currentDate.getDate() &&
					year === currentDate.getFullYear() &&
					month === currentDate.getMonth()
				) {
					day.classList.add('current-date');
					day.addEventListener('click', showTime);
				}
			}
			calendar_days.appendChild(day);
		}
	};


	document.addEventListener('DOMContentLoaded', function () {
		let currentDateElement = document.querySelector('.current-date');
		if (currentDateElement) {
			showTime.call(currentDateElement);
		}
	});

	// LET THE CURRENT DATE INITIALLY BE SELECTED, BUT HAVE A LITTLE COLOR WHEN CLICKED ON OTHER DATES
	let currentdate = null;
	let selectedDate = null;
	function showTime() {

		if (this !== currentdate) {
			if (currentdate) {
				currentdate.classList.add('current-date')
			}
		}

		if (selectedDate) {
			selectedDate.classList.remove('selected-day');
		}

		if (this.classList.contains('current-date')) {
			currentdate = this;
			this.classList.remove('current-date')
		}
		this.classList.add('selected-day');
		selectedDate = this;
		generateAvailableTimes();
	}

	// MONTH PANEL
	let month_list = calendar.querySelector('.month-list');
	month_names.forEach((e, index) => {
		let month = document.createElement('div');
		month.innerHTML = `<div>${e}</div>`;
		month_list.append(month);
		month.onclick = () => {
			currentMonth.value = index;
			generateCalendar(currentMonth.value, currentYear.value);
			month_list.classList.replace('show', 'hide');
			isMonthListOpen = false;
		};
	});

	(function () {
		month_list.classList.add('hideonce');
	})();
	document.querySelector('#pre-year').onclick = () => {
		--currentYear.value;
		generateCalendar(currentMonth.value, currentYear.value);
	};
	document.querySelector('#next-year').onclick = () => {
		++currentYear.value;
		generateCalendar(currentMonth.value, currentYear.value);
	};




	let currentDate = new Date();
	let currentMonth = {value: currentDate.getMonth()};
	let currentYear = {value: currentDate.getFullYear()};
	generateCalendar(currentMonth.value, currentYear.value);

	const todayShowTime = document.querySelector('.time-formate');
	const todayShowDate = document.querySelector('.date-formate');
	let dates = document.querySelectorAll('.calendar-days');


	// SHOW AVAILABLE TIMES	
	let selectedTime = null;
	function generateAvailableTimes() {
		let availableTimesTable = document.getElementById('availableTimes');
		let tbody = availableTimesTable.querySelector('tbody');
		tbody.innerHTML = '';


		for (let hour = 8; hour <= 18; hour++) {
			let row = document.createElement('tr');
			let time = hour < 10 ? '0' + hour : hour;
			let timeString = `${time}:00`;
			let timeStringEnd = `${time}:45`;
			let cell = document.createElement('td');
			cell.textContent = timeString;
			row.appendChild(cell);
			tbody.appendChild(row);
			cell.setAttribute('id', 'fadeInRow')


			let currentHour = currentDate.getHours();
			let currentMinute = currentDate.getMinutes();

			let selectedDateTime = new Date(currentYear.value, currentMonth.value, selectedDate.textContent, hour, 0);
			if (selectedDateTime < currentDate) {
				cell.classList.add('taken-time');
				cell.setAttribute('disabled', true);
			} else if (isTimeTaken(scheduledTours, selectedDate, currentMonth.value, currentYear.value, timeString)) {
				cell.classList.add('taken-time');
				cell.setAttribute('disabled', true);
			} else {
				cell.addEventListener('click', function () {
					if (this.classList.contains('selected')) {
						this.classList.remove('selected');
						selectedTime = null;
					} else {

						let selectedCell = tbody.querySelector('.selected');
						if (selectedCell) {
							selectedCell.classList.remove('selected');
						}
						this.classList.add('selected');
						selectedTime = timeString;
						console.log('Selected Time:', selectedTime);
						console.log("Ending time " + timeStringEnd)
						let localDateTime = generateLocalDateTime(currentYear.value, currentMonth.value, parseInt(selectedDate.textContent), selectedTime);
						let localDateTimeEnd = generateLocalDateTime(currentYear.value, currentMonth.value, parseInt(selectedDate.textContent), timeStringEnd);
						document.getElementById('final').innerHTML = "You have selected a tour for<br> <b> " + parseInt(selectedDate.textContent) + ". " + month_names[currentMonth.value] + " " + currentYear.value + ". <br> " + selectedTime + " - " + timeStringEnd + "</b>";
						document.getElementById('selectedStartTimeInput').value = localDateTime;
						document.getElementById('selectedEndTimeInput').value = localDateTimeEnd;

					}
				});
			}
		}
	}

	// COMPARE THE AVAILABLE TIMES IN CALENDAR WITH THE OCCUPIED DATES FROM DATABASE
	let month = null;
	function isTimeTaken(scheduledTours, selectedDate, selectedMonth, selectedYear, timeString) {

		for (let i = 0; i < scheduledTours.length; i++) {
			let dateTime = new Date(scheduledTours[i].startTime);

			let scheduledYear = dateTime.getFullYear();
			let scheduledMonth = dateTime.getMonth();
			let scheduledDay = dateTime.getDate();


			let scheduledHours = dateTime.getHours();
			let scheduledMinutes = dateTime.getMinutes();


			let scheduledTimeString = `${scheduledHours < 10 ? '0' + scheduledHours : scheduledHours}:${scheduledMinutes < 10 ? '0' + scheduledMinutes : scheduledMinutes}`;
			let selectedDay = parseInt(selectedDate.textContent);

			if (selectedYear === scheduledYear &&
				selectedMonth === scheduledMonth &&
				selectedDay === scheduledDay &&
				timeString === scheduledTimeString) {
				return true;
			}
		}
		return false;
	}


	function generateLocalDateTime(selectedYear, selectedMonth, selectedDay, timeString) {
		let [hours, minutes] = timeString.split(':').map(Number);
		let newDate = new Date(selectedYear, selectedMonth, selectedDay, hours, minutes);

		let year = newDate.getFullYear();
		let month = newDate.getMonth();
		let day = newDate.getDate();
		let hour = newDate.getHours() + 1;
		let minute = newDate.getMinutes();

		let localDateTime = `${year}-${(month + 1).toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}T${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
		console.log(localDateTime)
		return localDateTime;

	}

	// VALIDATION
	document.getElementById('confirmButton').addEventListener('click', function (event) {
		event.preventDefault();
		var selectedTime = document.getElementById('selectedStartTimeInput').value;
		if (!selectedTime) {
			document.getElementById('validation').textContent = 'Please select a time before confirming.';
		} else {
			document.getElementById('panelContainer').style.display = 'flex';
			document.getElementById('confirmationPanel').focus();

		}
	});

	
	document.getElementById('confirm').addEventListener('click', function () {
		document.getElementById('timeForm').submit();
	});

	document.getElementById('cancel').addEventListener('click', function () {
		document.getElementById('panelContainer').style.display = 'none';
		
	});

</script>

</html>