@charset "UTF-8";
.calendar {
  flex: 1;
  height: 30rem;
  width: max-content;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 35px 50px 0px 50px;
  margin-left: 15%;
  margin-right: 5%;
}

.todoCalendar {
  height: 100%;
  width: 96%;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 35px 50px 0px 50px;
  margin-left: 2%;
  margin-right: 2%;
}

.calendar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar-header {
  background: #E98A15;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  align-items: center;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  color: rgb(104, 104, 104);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#fadeInRow {
  animation: fadeIn 0.5s ease forwards;
  opacity: 0;
}

.calendar-week-days div {
  display: grid;
  place-items: center;
  color: #E98A15;
  height: 50px;
}



.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #0A0921;
}

.calendar-days1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #0A0921;
}

.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  animation: to-top 1s forwards;
  
}

.notification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.notification{
	background-color: #E98A15;
	max-height: 17%;
	max-width: 80%;
	border-radius: 20px;
	font-size: 12px;
	margin: 2px;
	place-items: center;
}

.calendar-days1 div {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: center;
  padding: 5px;
  position: relative;
  height: 120px;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: rgb(245, 205, 156);
  transition: all .2s ease-in-out;
  transform: scale(1.12);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.calendar-days div span {
  position: absolute;
}

.future-day:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(245, 204, 154);
  border-radius: 20%;
  color: #f8fbff;
  cursor: pointer;
}

.future-day1:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(245, 204, 154);
  color: #f8fbff;
  cursor: pointer;
}

.past-day1:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(245, 204, 154);
  color: #f8fbff;
  cursor: pointer;
}

.calendar-days div.current-date {
  color: #f8fbff;
  background-color: rgb(243, 190, 124);
  border-radius: 20%;
  cursor: pointer;
}

.month-list {
  position: relative;
  left: 0;
  top: -130px;
  background-color: #ebebeb;
  color: #151426;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
  width: 115%;
}

.month-list1 {
  position: relative;
  left: 0;
  top: 0;
  background-color: #ebebeb;
  color: #151426;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
  width: 60%;
	height: 40%;
}

.toBlur {
	display: none;
    position: fixed;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.month-list>div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list1>div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.month-list>div>div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list1>div>div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}

.month-list>div>div:hover {
  background-color: #E98A15;
  color: #f8fbff;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list1>div>div:hover {
  background-color: #E98A15;
  color: #f8fbff;
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list1.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}

.month-list.hideonce {
  visibility: hidden;
}

.month-list1.hideonce {
  visibility: hidden;
}

.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.month-list1.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}

.date-time-formate {
  height: 4rem;
  width: 100%;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: flex;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #9796f0;
}

.date-time-value {
  display: block;
  position: relative;
  text-align: center;
  padding-left: 5%;
}

.time-formate {
  font-size: 1.5rem;
}


#timeForm{
	flex: 2;
	margin-right: 5%;
	margin-left: 5%;
}

.contianer{
	display: flex;
    flex-direction: row;
}

@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}


@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }

  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}

@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }

  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}

@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }

  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
  

}

.taken-time{
	background-color: gray;
	cursor: default;
}

.taken-time:hover{
	background-color: gray;
	cursor: default;
	color: black;
}

.past-day {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(192, 192, 192);
  border-radius: 20%;
  color: #f8fbff;
}

.past-day1 {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(192, 192, 192);
  color: #f8fbff;
}

.selected{
	background-color: #E98A15;
}

.selected-day {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #E98A15;
  border-radius: 20%;
  color: #f8fbff;
}

#availableTimes tr:hover{
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: rgb(245, 204, 154);
  border-radius: 20%;
  color: #f8fbff;
  cursor: pointer;
}

#panelContainer{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

#confirmationPanel {
	background-color: white;
    padding: 30px;
    border-radius: 10px;
    display: block;
    width: 60%;
    height: 50%;
    text-align: center;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1.0);
}

#confirm{
    background-color: #E98A15;
    color: white;
 	min-width: 15%;
 	margin-left: 10%;
 	min-height: 15%;
 	border-radius: 10px;
 	border: none;
}

#cancel{
    background-color: rgb(192, 192, 192);
    color: black;
 	min-width: 15%;
 	margin-right: 10%;
 	min-height: 15%;
 	border-radius: 10px;
 	border: none;
}

#cancel:hover{
    background-color:  rgb(117, 117, 117);
    
}

#confirm:hover{
    background-color: white;
    color: #E98A15;
    border: 1px solid #E98A15;
}

#confirm:focus{
    color: white;
    box-shadow: 0 0 10px #E98A15;
    border: solid 1px #E98A15;
}

#cancel:focus{
    color: white;
    
}